.card {
    display: flex;
    align-items: left;
    justify-content: center;
    /* margin-left: 300px; */
   visibility: hidden;
   display: block;
   background: border-box;
   color: ghostwhite

}