
<style>
.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
}
</style>
<div class="container">
    <div class="card-container col-12 contact">
        <div class="card col-6" >
            <h2>Contact</h2>
        </div>
        <div class="card col-6">
            <h2>input data</h2>
            <label>Name</label>
            <input type="text"/>
            <input type="number"/>
            <input type="email"/>
            <input type="text" aria-rowcount="4" aria-colcount="4"/>

        </div>
        

    </div>
</div>
