
<style>
.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
}
</style>
<div class="container">
    <div class="card-container col-12 contact">
        <div class="card col-6" >
            <h2>Contact</h2>
        </div>
        <div class="card col-6">
            <h2>input data</h2>
            <label for="name">Name</label>
            <input id="name" type="text"/>
            <label for="mobile">Mobile</label>
            <input  id="mobile" type="number"/>
            <label for="mail">Mobile</label>
            <input id="mail" type="email"/>
            <label for="comment">Comment</label>
            <input  id="comment" type="text" aria-rowcount="4" aria-colcount="4"/>

        </div>
        

    </div>
</div>
